.home{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('/src/assets/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}